/* Navbar */

.welcome-message {
  margin-right: 20px;
}

.btn-log-out {
  display: inline-block;
  background-color: transparent;
  padding: 7px 26px 5px 26px !important;
  border-radius: 3px;
  border: none;
  border: 1px solid #2a6a7a;
}

.btn-log-out:hover {
  background-color: #2a6a7a;
  color: #ffffff !important;
}

/* Main */

.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem 6rem;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  transition: all 1s;
}

/* Balance */

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  color: var(--color-primary);
  margin-bottom: -0.1rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 3.5rem;
  font-weight: 400;
}

/* Movements */

.movements {
  grid-row: 2 / span 3;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.movements__row {
  padding: 2rem;
  justify-content: space-between;
  border-bottom: 2px solid #f2f2f2;
  color: black;
  display: flex;
}

.movements__date {
}

.movements__type--withdrawal {
  color: #b33e55;
}

.movements__type--deposit {
  color: #3eb39c;
}

/* Summary */

.summary {
  display: flex;
  grid-column: 1;
  padding-left: 10px;
}

.summary__label {
  margin-right: 10px;
}

.summary__value {
  margin-right: 20px;
}

.btn--sort {
  align-self: baseline;
  font-size: 1.2rem;

  border: none;
  background-color: #ffffff;
}

.summary__value--in,
.summary__value--interest {
  color: #3eb39c;
}

.summary__value--out {
  color: #b33e55;
}

/* Operations */

.operation__btn {
  color: #ffffff;
  background-color: transparent;
  padding: 7px 26px 5px 26px !important;
  border-radius: 3px;
  border: none;
  border: 1px solid #ffffff;
}

.operation__btn:hover {
  background-color: #ffffff;
  color: black;
}

.operation--loan {
  grid-column: 2;
  grid-row: 2;
  background-color: #5db1c7;
  /* background-image: linear-gradient(160deg, #3e9bb3 0%, #f8e3cf 100%); */
  color: #ffffff;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.operation--transfer {
  grid-column: 2;
  grid-row: 3;
  background-color: #5db1c7;

  color: #ffffff;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.operation--close {
  grid-column: 2;
  grid-row: 4;
  background-color: #5db1c7;
  color: #ffffff;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.operation input {
  padding: 7px 16px 5px 16px;
  border-radius: 3px;
  border: none;
  border: 1px solid #ffffff;
  margin-right: 15px;
}

.operation form {
  display: flex;
}

.operation h2 {
  margin-bottom: 25px;
  font-weight: lighter;
}

::-webkit-input-placeholder {
  font-weight: lighter;
}

/* Logout-timer */

.logout-timer {
  grid-row: 5;
  grid-column: 2;
}

/* Small tablet, to big tablet from 768 - 1023 px */
@media only screen and (max-width: 1023px) {
  .btn-log-out {
    width: 12%;
    padding: 7px 26px 5px 20px !important;
  }

  .app {
    display: block !important;
  }
}

/* Small phones, to small tablets from 481 - 767 px */
@media only screen and (max-width: 767px) {
  .app {
    display: inline-block;
    padding: 0 2rem;
    margin: 2rem 0;
    margin-bottom: 0;
    overflow-x: hidden;
    width: 100%;
  }

  .balance__grid {
    display: grid;
  }

  .balance__date {
    grid-row: 1;
  }

  .btn-log-out {
    width: 27%;
    padding: 7px 26px 5px 20px !important;
  }

  .movements__row {
    padding: 1.5rem 1rem;
    letter-spacing: 0.3px;
  }

  .btn--sort {
    display: none;
  }

  .balance__value {
    font-size: 1.8rem;
    letter-spacing: 0.7px;
  }

  .balance__label {
    font-size: 1.7rem;
    letter-spacing: 0.7px;
  }

  .balance__date {
    font-size: 1.3rem;
    letter-spacing: 0.7px;
    font-weight: 300;
  }

  .balance {
    display: block;
  }

  .summary {
    margin-top: 12px;
  }

  .summary p {
    font-size: 0.7rem;
  }

  .form--transfer input {
    width: 40%;
  }

  .operation {
    margin-bottom: 20px;
    padding: 1rem;
  }

  .operation h2 {
    margin-bottom: 15px;
    letter-spacing: 0.4px;
  }

  .footer-links {
    display: none;
  }

  .logout-timer {
    font-size: 1rem;
  }

  .operation--close input {
    width: 40%;
  }

  .operation input {
    font-size: 1rem;
    font-weight: 200;
  }

  .operation__btn {
    padding: 7px 20px 5px 20px !important;
  }
}

/* Small phones from 0 - 480 px */
@media only screen and (max-width: 321px) {
  .balance__value {
    font-size: 1.4rem;
    letter-spacing: 0.7px;
  }

  .balance__label {
    font-size: 1.3rem;
    letter-spacing: 0.7px;
  }

  .balance__date {
    font-size: 1rem;
    letter-spacing: 0.7px;
    font-weight: 300;
  }

  .movements__row {
    padding: 1.1rem 1rem;
    letter-spacing: 0.2px;
    font-size: 0.8rem;
  }

  .summary p {
    font-size: 0.55rem;
  }

  .operation h2 {
    letter-spacing: 0.4px;
    font-size: 1.3rem;
  }

  .operation input {
    font-size: 0.8rem;
    width: 40%;
  }
  .operation__btn {
    padding: 7px 12px 5px 12px !important;
  }

  .btn-log-out {
    font-size: 0.85rem;
    padding: 7px 11px 5px 16px !important;
  }
}
