:root {
  --color-primary: #2a6a7a;
  --color-primary-lighter: #3e9bb3;
  --color-secondary: #f5d6b9;
  --colo-secondary-lighter: #f8e3cf;
  --gradient-primary: linear-gradient(to top left, #3e9bb3, #f8e3cf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Navbar */

p {
  font-size: 1.2rem;
}

.navbar {
  padding-bottom: 17px;
  padding-top: 17px;
  background-color: #ffffff !important;
}

.navbar-brand {
  margin-right: 0;
}

.container-fluid span {
  font-weight: lighter;
}

/* Header */

.header {
  display: flex;
}

.header__left {
  padding: 150px 100px 150px 100px;
  background-color: var(--color-primary);
  color: #ffffff;
  width: 55%;
}

.header__left span {
  display: block;
}

.header__left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__left {
  background-color: #2a6a7a;
  width: 55%;
}

.btn-show-modal {
  margin-top: 25px;
  opacity: 0.8;
  background-color: #f2f2f2;
  color: #2a6a7a;
  border: none;
  border-radius: 5px;
  padding: 9px 28px 9px 28px;
}

.btn-show-modal:hover {
  background-color: #ffffff;
  opacity: 1;
}

.header__right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #f5d6b9;
  width: 45%;
}

.header__right img {
  width: 64%;
}

/* Section */

.section {
  padding: 9rem 3rem;
  transition: transform 1.5s, opacity 1s;
}

.section__description {
  color: #2a6a7a;
}

.section__title {
  margin: 0 auto 4rem auto;
}

#section--2,
#section--5 {
  background-color: #f2f2f2;
}

#section--2 {
  padding: 7rem 3rem;
}

#section--3 {
  padding: 7rem 3rem;
  padding-bottom: 3rem;
}

#section--4 {
  background-color: #2a6a7a;
  padding: 2rem 3rem;
}

#section--5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1503703796045-3b073bd4b539?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2768&q=80");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 16rem 0;
}

/* Features */
.features {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}

.features img {
  width: 95%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
}

.features__icon i {
  font-size: 25px;
  color: #2a6a7a;
  margin-bottom: 12px;
}

/* Operations */
.operations {
  max-width: 100rem;
  background-color: #fff;
  border-radius: 3px;
}

.operations__tab {
  margin-right: 2.5rem;
  opacity: 0.7;

  transform: translateY(-50%);
}

.operations__tab-container {
  display: flex;
  margin-left: 22px;
}

.operations__content {
  display: none;
  padding: 2.5rem 7rem 6.5rem 2rem;
}

ion-icon {
  font-size: 64px;
  color: #f5d6b9;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  background-color: #ffffff;
  border-radius: 3px;
}

.operations__tab--active {
  transform: translateY(-66%);
  opacity: 1;
}

.operations__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations__content p {
  grid-column: 2;
}

.btn {
  background-color: #2a6a7a;
  color: #ffffff;
  padding: 9px 28px 9px 28px;
  border-radius: 3px;
}

.btn:hover {
  opacity: 0.9;
  color: #ffffff;
}

/* Testimonials */

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /*  animation! */
  transition: transform 1s;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  font-family: inherit;
  background-color: var(--color-secondary);
  color: #ffffff;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  font-size: 3.15rem;
  cursor: pointer;
}

.slider__btn:hover {
  background-color: var(--colo-secondary-lighter);
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -4.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 18rem;
  font-family: inherit;
  color: #2a6a7a;
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.6rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* Company keyfacts */
.company-key-facts {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-size: 170%;
  font-weight: 600;
}

/* Open a account banner  */
.banner__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffff;
  text-align: center;
  font-weight: lighter !important;
}

.banner__button {
  opacity: 0.8;
  background-color: #f2f2f2;
  color: #2a6a7a;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  padding: 9px 28px 9px 28px;
}

.banner__button:hover {
  background-color: #ffffff;
  color: #2a6a7a;
  opacity: 1;
}

/* Footer */

.footer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #d23333;
}

/* Modal login */

.show-modal {
  background-color: transparent;
  padding: 5px 26px 5px 26px;
  border-radius: 3px;
  border: none;
  border: 1px solid #2a6a7a;
}

.show-modal:hover {
  background-color: #2a6a7a;
  color: #ffffff;
}

.close-modal {
  position: absolute;
  top: -1rem;
  right: 1rem;
  font-size: 3.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.login__form form {
  display: flex;
  flex-direction: column;
}

.login__data {
  display: flex;
  align-items: center;

  margin-top: 20px;
}

.login__data i {
  font-size: 20px;
  margin-right: 10px;
}

.login__form input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ddd;

}

::-webkit-input-placeholder {
  font-weight: lighter;
}

.login__form button {
  margin: 0 auto;
  width: 50%;
  margin-top: 30px;
}

.alert {
  margin-top: 15px;
}


/* MODAL WORK */

.hidden {
  display: none;
}

.section--hidden {
  opacity: 0;
  transform: translateY(6rem);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48%;
  background-color: white;
  padding: 4rem 6rem 2rem 6rem;
  border-radius: 3px;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
  z-index: 6;
  height: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* New account modal */

/* MODAL WINDOW */
.modal2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 2.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2rem;
}

.modal__form label {
  font-size: 1rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1rem;
  border: 1px solid #ddd;
  padding: 0.5rem;

  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 3.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.highlight {
  position: relative;
  background-image: linear-gradient(112deg, #3e9bb3 0%, #f8e3cf 100%); */
}

highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);

}

/* Remove bootstrap */

.btn:focus {
  outline: none;
  box-shadow: none;
}

input:focus {
  outline: none;
  box-shadow: none;

}

